.App {
  text-align: center;
}
.heading{
  font-family: BrusselsCity;
  display:flex;
  justify-content: center;
  margin:0;
  background-color:#6D9775;
  height: 100px;
}
.headingTitle{
  align-content:center;
  align-self: center;
  font-size:70px;
  font-weight:bolder;
  color: #104730;
}