.App {
  text-align: center;
  background-color: #6D9775;
}
.heading{
  font-family: BrusselsCity;
  display:flex;
  justify-content: center;
  margin:0;
  background-color:#6D9775;
  height: 100px;
}
.headingTitle{
  align-content:center;
  align-self: center;
  font-size:70px;
  font-weight:bolder;
  color: #104730;
}
.navbar{
  display:flex;
  align-self:center;
  background-color: #417154;
  height:50px;
}
.navButton{
  align-self:center;
  font-size:35px;
  margin-left:20px;
}
.navButton:hover{
  color:#104730;
  cursor:pointer;
}
.mapContainer{
  height:70%;
  width: 100%;
}
.map{
  flex: 1;
}
.info-container{
  display:flex;
  flex-direction: column;
  flex:1;
  background-color:#417154;
  border-radius:30px;
}
.form{
  display:flex;
  flex:5;
}
.carbonDisplay{
  display:flex;
  flex:5;
}