body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin:0;
  padding:0;
}
@font-face {
  font-family: "BrusselsCity";
  src: local("BrusselsCity"),
    url("./fonts/brussels-city-font/BrusselsCityPersonalUsed-L3Lon.otf") format("opentype");
  font-weight: normal;
}