.grid-container {
    grid-template-columns: 20% 80%;
    display: flex;
}

.form {
    width: 100%;
    height: 100%;
}
.carbonDisplay{
    display:flex;
    font-family:BrusselCity;
    font-weight:250;
    color:#104730;
    font-size: 30px;
    justify-content: center;
    flex-direction: column;
}
.carbonDisplayInfo{
    font-size:20px;
}